<form action="/user/project/<%= project['id']%>" method = "post">
    <input type="hidden" name="_method" value="patch">
  <label for="">Select image:</label>
  <input class="img-input" type="text" name="image_url" onchange="preview()">
  <button>Update</button>
</form>
<img class="img-preview" src="<%= project['image_url'] %>" alt="">

