<section class="gallery">
    <div class="gallery-images">
        <% patterns.each do |pattern|%>
            <a href="/patterns/details/<%= pattern["id"]%>"><img src="<%= pattern["display_image_url"]%>" alt=""></a>
        <% end %>
    </div>
</section>
