<div class="projects-links ">
    <a class="back-link"  href="javascript:history.back()"><< Back</a>
    <a class="upload-link" href="/patterns/<%= pattern["id"] %>/upload-project">Upload Project</a>
</div>
<section class="all-users-project-gallery">

    <% if projects.to_a == []  %>
        <p>Be the first to upload a project for this pattern</p>
    <% elsif projects %>
    <div>
        <% projects.each do |project|%>
            <img src="<%= project["image_url"]%>" alt="">
        <% end %>
    </div>
    <% end %>
</section>