<section class="sign-in-form">
    <form  action="/user/signin" method = "post">
        <%# <label for="">Email:</label> %>
        <input type="email" name="email" placeholder="Email">
        
        <%# <label for="">Password:</label> %>
        <input type="password" name="password" placeholder="Password">
        
        <button>Sign in</button>
    </form>
</section>