<a class="back-link"  href="javascript:history.back()">Go Back</a>
<section class="upload-project" >
    <img class="img-preview" src="" alt="">
    <form class="project-form" action="/patterns/<%= pattern['id'] %>/upload-project" method="post">
    
        <input class="img-input" type="text" name="image_url" placeholder="Image URL" onchange="preview()">
        <%# <input type="text" name="image_url" required> %>
        <button>Upload</button>
    </form>
</section>
