<a class="back-link"  href="javascript:history.back()"><< Back</a>
<section class="upload-project" >
    <form class="project-form" action="/patterns/<%= pattern['id'] %>/upload-project" method="post">
        <img class="img-preview new-project-image" src="" alt="">
    
        <input class="img-input" type="text" name="image_url" placeholder="Image URL" onchange="preview(), addBorder()" required>

        <button>Upload</button>
    </form>
</section>
